version: "3.9"

services:
  
  mosquitto:
    image: eclipse-mosquitto:2.0.15
    container_name: mosquitto_broker
    restart: unless-stopped
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ../config/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ../data/mosquitto:/mosquitto/data
      - ../logs/mosquitto:/mosquitto/logs
    networks:
      - oden_net

  influxdb:
    image: influxdb:2.6
    container_name: influxdb
    restart: unless-stopped
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=admin123
      - DOCKER_INFLUXDB_INIT_ORG=midascreed
      - DOCKER_INFLUXDB_INIT_BUCKET=hydro_data
    volumes:
      - ../data/influxdb:/var/lib/influxdb2
      - ../config/influxdb.conf:/etc/influxdb2/influxdb.conf
    networks:
      - oden_net

  node_red:
    image: nodered/node-red:latest
    container_name: node_red
    restart: unless-stopped
    ports:
      - "1880:1880"
    environment:
      - TZ=Africa/Blantyre
    volumes:
      - ../node_red:/data
    networks:
      - oden_net

  grafana:
  image: grafana/grafana:latest
  container_name: grafana
  restart: unless-stopped
  ports:
    - "3001:3000"
  environment:
    - GF_SECURITY_ADMIN_PASSWORD=admin123
    - GF_INFLUXDB_URL=http://influxdb:8086
    - GF_INFLUXDB_TOKEN=iN_k9pJ8WxopeC5XjC4ECE9L_M-wpoBBBSyK32KEONHyBCyv0whfXSf6OjeQ4_9m7zZAUeuNNCB63thFsCKM9Q==
    - GF_INFLUXDB_ORG=midascreed
    - GF_INFLUXDB_BUCKET=hydro_data
  volumes:
    - ../data/grafana:/var/lib/grafana
  networks:
    - oden_net


networks:
  oden_net:
    driver: bridge
